<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->

    <% layout('../layouts/boilerplate') %>
    <div class="mb-2" style="width: 100%;height: 500px;" id="map"></div>
    <h1 class="text-center text-bold">CAMPGROUNDS</h1>
   
       
        <% for(let c of campgrounds) { %>
            <div class="container col-lg-10 offset-lg-1.5">
                <div class="card my-3">
                    <div class="row">
                        <div class="col-md-4">
                            <% let d=0 ; for(let img of c.img){ %>
                                <% if(d==0) { %>
                                    <img style="width: 100%;"  src="<%= img.url %>" class="img-fluid" alt="...">
                                <% d++; } %>
                              <% } %>  
                            
                        </div>
                        <div class="col-md-8">
                            <div class="card-title">
                                <h5 class="card-title">
                                    <%= c.title %>
                                </h5>
                                <p class="card-text">
                                    <%= c.description %>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted"><%= c.location %></small>
                                </p>
                                <p class="card-text">
                                    <small class="text-muted"><%= c.price %></small>
                                </p>
                                <a class="btn btn-primary" href="/campgrounds/<%= c._id %>">View <%= c.title %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <a href="/campgrounds/<%= c._id %>"><%= c.title %></a> -->
        <% } %>
    <!-- <h1><a href="/campgrounds/new">NEW CAMPGROUND</a></h1> -->
<!-- </body>
</html> -->



<script type="text/javascript">
    var camp=`<%- JSON.stringify(campgrounds) %>`
    var obj={ features: JSON.parse(camp) };
    
   

 </script>
<script src="/javascripts/clusterMap.js"></script>